<%- include('./layout/header') %>
  <main>
    <section class="uk-position-relative py-md-5 py-3 gh-banner" data-src="./public/images/contact.png" uk-img>
      <div class="uk-container">
        <div class="row">
          <div class="col-md-4 gh-banner-content shadow">
            <h2 class="uk-h3 text-uppercase text-blue-main my-0 text-uppercase">
            <strong>Liên Hệ</strong>
          </h2>
            <h2 class="text-uppercase text-red-main my-0 text-uppercase">
            <strong class="text-danger">1900 2069</strong>
          </h2>
            <p>
              Giải quyết và hướng dẫn các sự cố kỹ thuật, các thủ tục hành chính liên quan đến dịch vụ
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="uk-container py-md-5 py-3">
        <div class="row">
          <div class="col-md-6 mb-3">
            <h4 class="text-uppercase text-blue-main uk-text-bold my-0">
            vp tp.hcm
          </h4>
            <p class="my-1">
              Công ty TNHH Giải Pháp Trực Tuyến - OnlinE Solution Co. Ltd (ESC)
            </p>
            <ul class="gh-contact nolist">
              <li class="border-bottom border-muted py-2">
                <i class="text-muted" uk-icon="location"></i>
                <span>A16 đường 18 P.Hiệp Bình Chánh, Q.Thủ Đức</span>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-6 border-bottom border-muted py-2">
                    <i class="text-muted" uk-icon="receiver"></i>
                    <span>(028) 6284 30 35 – 629 44 808</span>
                  </div>
                  <div class="col-md-6 border-bottom border-muted py-2">
                    <img src="./public/images/icon/print.svg" width="22" height="22">
                    <span>(028) 6258 14 09</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="d-block mt-3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1959.4166673263544!2d106.71489891423276!3d10.824063399671793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zQTE2IMSRxrDhu51uZyAxOCBQLkhp4buHcCBCw6xuaCBDaMOhbmgsIFEuVGjhu6cgxJDhu6lj!5e0!3m2!1svi!2s!4v1533866784833"
                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <h4 class="text-uppercase text-blue-main uk-text-bold my-0">
            vp Hà Nội
          </h4>
            <p class="my-1">
              Công ty TNHH Giải Pháp Trực Tuyến - OnlinE Solution Co. Ltd (ESC)
            </p>
            <ul class="gh-contact nolist">
              <li class="border-bottom border-muted py-2">
                <i class="text-muted" uk-icon="location"></i>
                <span>71 Trần Quốc Toản,Quận Hoàn Kiếm</span>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-6 border-bottom border-muted py-2">
                    <i class="text-muted" uk-icon="receiver"></i>
                    <span>(024) 39 42 68 96</span>
                  </div>
                  <div class="col-md-6 border-bottom border-muted py-2">
                    <img src="./public/images/icon/print.svg" width="22" height="22">
                    <span>(024) 39 42 68 97</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="d-block mt-3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1959.4166673263544!2d106.71489891423276!3d10.824063399671793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zQTE2IMSRxrDhu51uZyAxOCBQLkhp4buHcCBCw6xuaCBDaMOhbmgsIFEuVGjhu6cgxJDhu6lj!5e0!3m2!1svi!2s!4v1533866784833"
                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="uk-container">
        <div class="row">
          <div class="col-md-6 px-md-3 px-0">
            <div class="gh-box">
              <div class="gh-box-header gh-border-right px-3">
                <div class="row">
                  <h3 class="uk-h6 col-md-6 gh-box-title">BỘ PHẬN HỖ TRỢ KỸ THUẬT</h3>
                  <h4 class="uk-h6 col-md-6 gh-box-sub">(24/7) 1900 2069 – 0909 966 201</h4>
                </div>
              </div>
              <div class="gh-box-body px-3">
                <div class="row gh-box-list">
                  <div class="col-md-4 gh-item">
                    <div class="row align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gh-box">
              <div class="gh-box-header gh-border-right px-3">
                <div class="row">
                  <h3 class="uk-h6 col-md-6 gh-box-title">Chăm sóc khách hàng</h3>
                  <h4 class="uk-h6 col-md-6 gh-box-sub">1900 2069 – claim@esc.vn</h4>
                </div>
              </div>
            </div>
            <div class="gh-box">
              <div class="gh-box-header gh-border-right px-3">
                <div class="row">
                  <h3 class="uk-h6 col-md-6 gh-box-title">BỘ PHẬN KINH DOANH</h3>
                  <h4 class="uk-h6 col-md-6 gh-box-sub">1900 206</h4>
                </div>
              </div>
              <div class="gh-box-body px-3">
                <div class="row gh-box-list align-items-end">
                  <div class="col-md-4 gh-item">
                    <div class="row align-items-center">
                      <h4 class="gh-box-title uk-h6 text-uppercase uk-width-1-1 pl-md-0">Hà Nội</h4>
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <h4 class="gh-box-title uk-h6 text-uppercase uk-width-1-1">Hồ Chí Minh</h4>
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row gh-box-list">
                  <div class="col-md-4 gh-item">
                    <div class="row align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row gh-box-list">
                  <div class="col-md-4 gh-item">
                    <div class="row align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 gh-item">
                    <div class="row px-3 align-items-center">
                      <div class="uk-width-expand">
                        <strong class="uk-text-meta">Thành Luân</strong>
                        <div class="d-block uk-text-bold">1900 2069</div>
                      </div>
                      <div class="uk-width-auto">
                        <div class="row align-items-center">
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                            <img src="./public/images/icon/whatsapp.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                          <div class="uk-width-1-2 text-center">
                            <a class="d-inline-block" href="#">
                              <img src="./public/images/icon/skype.svg" alt="" uk-svg width="30" height="30">
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="gh-box">
              <div class="gh-box-header gh-border-left">
                <h3 class="uk-h6 gh-box-title">BỘ PHẬN KINH DOANH</h3>
              </div>
              <div class="gh-box-body py-3">
                <form class="uk-form-stacked" action="index.html" method="post">
                  <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <label for="fullname">Họ Tên</label>
                      </div>
                      <div class="col-md-9">
                        <input id="fullname" type="text" class="form-control rounded-0">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <label for="email">Email</label>
                      </div>
                      <div class="col-md-9">
                        <input id="email" type="email" class="form-control rounded-0">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <label for="title">Chủ Đề</label>
                      </div>
                      <div class="col-md-9">
                        <input id="title" type="text" class="form-control rounded-0">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row align-items-start">
                      <div class="col-md-3">
                        <label for="nd">Nội dung</label>
                      </div>
                      <div class="col-md-9">
                        <textarea class="form-control rounded-0" name="name" rows="8" cols="80"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <label for="security">Mã bảo mật</label>
                      </div>
                      <div class="col-md-3">
                        <input id="security" type="text" class="form-control rounded-0">
                      </div>
                      <div class="col-md-3">
                        <h2 class="m-0">dsad213</h2>
                      </div>
                      <div class="col-md-3">
                        <a href="#">
                          <img src="./public/images/icon/refresh.svg" uk-svg alt="" width="35" height="35">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center py-3">
                    <button class="uk-button uk-button-primary text-uppercase">Gửi Nội Dung</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('./layout/footer') %>
