<%- include('./layout/header') %>
  <main>
    <section class="bg-blue-main gh-domain-search">
      <div class="uk-background-cover uk-height-medium" data-src="./public/images/domain.jpg" uk-img>
        <div class="uk-container py-5">
          <h1 class="text-white text-uppercase">Domain</h1>
          <p class="text-white">ESC - Nhà đăng ký chính thức tên miền Việt Nam</p>
          <form class="" action="index.html" method="post">
            <div class="px-3">
              <div class="row">
                <input class="uk-input uk-width-4-5@m uk-form-large" placeholder="Nhập tên miền bạn muốn kiểm tra">
                <button class="uk-width-expand uk-button uk-button-danger uk-button-large">
                <i uk-icon="icon: search" class="mr-2"></i><span>Kiểm Tra</span>
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </section>
    <section>
      <div class="uk-container px-md-3 px-0 py-md-5 py-3 gh-table">
        <table class="table table-striped uk-table-small">
          <thead class="bg-blue-main text-uppercase text-white">
            <tr>
              <th>
                tên miền việt nam
              </th>
              <th>
                <div class="d-block text-center">Phí Đăng Ký</div>
              </th>
              <th class="gh-sm-none">
                <div class="d-block text-center gh-sm-none">Phí duy trì</div>
              </th>
              <th>
                <div class="d-block text-center">Tổng phí</div>
              </th>
              <th class="gh-sm-none">
                <div class="d-block text-center">Chuyển về ESC</div>
              </th>
              <th>
                <div class="d-block text-center">Đăng ký</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>.vn</td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">750.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
            <tr>
              <td>.com.vn, .net.vn, .biz.vn</td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">630.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
            <tr>
              <td>.edu.vn, .health.vn, .ac.vn, .pro.vn</td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">630.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row px-3">
          <div class="col-md-2">
            <h3 class="gh-border-left gh-home-title h-100 gh-border-vertical text-upppercase text-blue-main uk-text-bold">
            Lưu ý:
          </h3>
          </div>
          <div class="col-md-10 mt-md-0 mt-3">
            <ul class="nolist">
              <li class="py-1">Bảng giá tên miền Quốc gia Việt Nam nói trên đã bao gồm thuế GTGT (VAT) theo quy định của Nhà nước.</li>
              <li class="py-1">Mức giá trên là giá bán cuối cùng không thêm bất kỳ khoản phí nào khác. Bảng giá có hiệu lực kể từ 18h00 ngày 11/05/2017.</li>
              <li class="py-1">Xem chi tiết <a href="#" class="uk-text-bold">biểu phí giá tên miền tại đây</a></li>
              <li class="py-1">Xem <a href="#">khuyến mãi: http://esc.vn/khuyenmai</a></li>
              <li class="py-1"></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="uk-container px-md-3 px-0 py-md-5 py-3 gh-table">
        <table class="table table-striped uk-table-small">
          <thead class="bg-blue-main text-uppercase text-white">
            <tr>
              <th>
                tên miền quốc tế
              </th>
              <th>
                <div class="d-block text-center gh-sm-none">Phí khởi tạo</div>
              </th>
              <th>
                <div class="d-block text-center">Phí Đăng Ký</div>
              </th>
              <th class="gh-sm-none">
                <div class="d-block text-center gh-sm-none">Phí duy trì</div>
              </th>
              <th>
                <div class="d-block text-center">Tổng phí</div>
              </th>
              <th class="gh-sm-none">
                <div class="d-block text-center">Chuyển về ESC</div>
              </th>
              <th>
                <div class="d-block text-center">Đăng ký</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>.vn</td>
              <td class="gh-sm-none">
                <img src="./public/images/icon/free.png" alt="" width="65px">
              </td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">750.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
            <tr>
              <td>.com.vn, .net.vn, .biz.vn</td>
              <td class="gh-sm-none">
                <img src="./public/images/icon/free.png" alt="" width="65px">
              </td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">630.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
            <tr>
              <td>.edu.vn, .health.vn, .ac.vn, .pro.vn</td>
              <td class="gh-sm-none">
                <img src="./public/images/icon/free.png" alt="" width="65px">
              </td>
              <td>300.000</td>
              <td class="gh-sm-none">450.000</td>
              <td class="uk-text-bold">630.000</td>
              <td class="gh-sm-none">Miễn Phí</td>
              <td>
                <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row px-3">
          <div class="col-md-2">
            <h3 class="gh-border-left gh-home-title h-100 gh-border-vertical text-upppercase text-blue-main uk-text-bold">
            Lưu ý:
          </h3>
          </div>
          <div class="col-md-10 mt-md-0 mt-3">
            <ul class="nolist">
              <li class="py-1">
                <strong class="uk-text-danger">(*)</strong> Chương trình khuyến mãi cho năm đầu đăng ký. Chương trình áp dụng: Từ 1/1 đến hết 31/12/2018.
              </li>
              <li class="py-1">
                <strong class="uk-text-danger">(**)</strong> Chương trình khuyến mãi cho năm đầu đăng ký. Chương trình áp dụng: Từ 1/6 đến hết 30/06/2018.
              </li>
              <li class="py-1">
                Đăng ký và gia hạn >= 3 năm được giảm 5%, >= 5 năm giảm 10% (áp dụng cho khách lẻ).
              </li>
              <li class="py-1">
                Đăng ký số lượng >=10 domains được giảm 10% (áp dụng cho khách lẻ).
              </li>
              <li class="py-1">
                Nếu Quý khách nhận phí hỗ trợ đăng ký tên miền .Com tại ESC.
                Quý khách chỉ được transfer sang Nhà đăng ký khác sau năm thứ hai.
                Nếu Quý khách muốn transfer đi trước thời hạn thì phải thanh toán lại phí hỗ trợ đăng ký 150.000 VNĐ.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('./layout/footer') %>
