<%- include('./layout/header') %>
  <main>
    <section class="uk-position-relative py-md-5 py-3 gh-banner" data-src="./public/images/cloud.jpg" uk-img>
      <div class="uk-container">
        <div class="row">
          <div class="col-md-4 gh-banner-content shadow py-md-5 py-0">
            <h2 class="uk-h3 text-uppercase text-blue-main my-0">
              cloud hosting
            </h2>
            <p class="my-0 uk-text-bold">
              Hosting chất lượng cao cộng nghệ
            </p>
            <p class="my-1 uk-text-bold">
              ĐIỆN TOÁN ĐÁM MÂY lưu trữ SSD MẠNH NHẤT
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="uk-container py-md-5 py-3 gh-table px-md-3 px-0">
        <table class="table table-striped uk-table-small">
          <thead class="bg-blue-main text-uppercase text-white">
            <tr>
              <th class="uk-width-medium">
                gói dịch vụ
              </th>
              <th class="uk-width-small">
                <div class="d-block text-center">basic</div>
                <div class="d-block text-center">(s50)</div>
              </th>
              <th class="uk-width-small">
                <div class="d-block text-center">Standand</div>
                <div class="d-block text-center">(s100)</div>
              </th>
              <th class="uk-width-small">
                <div class="d-block text-center">Standand+</div>
                <div class="d-block text-center">(s200)</div>
              </th>
              <th class="uk-width-small gh-sm-none">
                <div class="d-block text-center">Pro</div>
                <div class="d-block text-center">(s300)</div>
              </th>
              <th class="uk-width-small gh-sm-none">
                <div class="d-block text-center">Pro+</div>
                <div class="d-block text-center">(s500)</div>
              </th>
              <th class="uk-width-small gh-sm-none">
                <div class="d-block text-center">ecom</div>
                <div class="d-block text-center">(s1000)</div>
              </th>
              <th class="uk-width-small gh-sm-none">
                <div class="d-block text-center">ecom+</div>
                <div class="d-block text-center">(s2000)</div>
              </th>
            </tr>
          </thead>
          <tbody class="gh-table-price">
            <tr>
              <td>Dung lượng (GB)</td>
              <td>800</td>
              <td>1400</td>
              <td>2200</td>
              <td class="gh-sm-none">3000</td>
              <td class="gh-sm-none">4000</td>
              <td class="gh-sm-none">6000</td>
              <td class="gh-sm-none">12000</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>20</td>
              <td>Unlimited</td>
              <td>Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
            </tr>
            <tr>
              <td>Email Forwarders</td>
              <td>20</td>
              <td>Unlimited</td>
              <td>Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
            </tr>
            <tr>
              <td>Băng thông (GB)</td>
              <td>20</td>
              <td>Unlimited</td>
              <td>Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
            </tr>
            <tr>
              <td>DB MSSQL/MySQL5</td>
              <td>3</td>
              <td>3</td>
              <td>10</td>
              <td class="gh-sm-none">20</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">50</td>
              <td class="gh-sm-none">100</td>
            </tr>
            <tr>
              <td>Subdomain</td>
              <td>5</td>
              <td>Unlimited</td>
              <td>Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">5</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
            </tr>
            <tr>
              <td>User/Website</td>
              <td>1</td>
              <td>1</td>
              <td>2</td>
              <td class="gh-sm-none">3</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">10</td>
              <td class="gh-sm-none">15</td>
            </tr>
            <tr>
              <td>Domain Pointers</td>
              <td>5</td>
              <td>Unlimited</td>
              <td>Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">5</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
            </tr>
            <tr>
              <td>ASP / ASP.net / PHP</td>
              <td><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td class="gh-sm-none"><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td class="gh-sm-none"><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td class="gh-sm-none"><i uk-icon="icon: check; ratio: 1.3"></i></td>
              <td class="gh-sm-none"><i uk-icon="icon: check; ratio: 1.3"></i></td>
            </tr>
            <tr>
              <td>Ftp Accounts</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">Unlimited</td>
              <td class="gh-sm-none">1</td>
            </tr>
            <tr>
              <td>Giá/tháng (VNĐ)</td>
              <td>60000</td>
              <td>60000</td>
              <td>60000</td>
              <td class="gh-sm-none">60000</td>
              <td class="gh-sm-none">60000</td>
              <td class="gh-sm-none">60000</td>
              <td class="gh-sm-none">60000</td>
            </tr>
            <tr>
              <td>Giá/tháng (VNĐ)</td>
              <td><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td class="gh-sm-none"><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td class="gh-sm-none"><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td class="gh-sm-none"><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
              <td class="gh-sm-none"><a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase">đăng ký</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class="uk-container py-3">
        <h2 class="gh-home-title gh-border-left uk-h4 py-md-4 py-3 text-blue-main text-uppercase">
          <strong>Tinh Năng</strong> hosting
        </h2>
        <div class="d-block py-3 gh-table">
          <div class="row">
            <div class="col-md-4 px-0">
              <table class="table table-striped uk-table-small mb-md-3 mb-0">
                <tbody>
                  <tr>
                    <td>Hệ điều hành</td>
                    <td class="uk-text-bold text-md-center text-right">Linux/Window</td>
                  </tr>
                  <tr>
                    <td>Dung lượng</td>
                    <td class="uk-text-bold text-md-center text-right">Theo Gói</td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Anonymous DNS</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Control Panel</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>POP3/IMAP email accounts</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mail Forwarding addresses</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>User Aliases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Email Responders</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Sub Domains</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>MySQL/Mariadb Databases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft SQL 2008 / 20012 /2016</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft Active Server Pages/ PHP</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Web Based Email</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Addons support</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 px-0">
              <table class="table table-striped uk-table-small mb-md-3 mb-0">
                <tbody>
                  <tr>
                    <td>Hệ điều hành</td>
                    <td class="uk-text-bold text-md-center text-right">Linux/Window</td>
                  </tr>
                  <tr>
                    <td>Dung lượng</td>
                    <td class="uk-text-bold text-md-center text-right">Theo Gói</td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Anonymous DNS</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Control Panel</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>POP3/IMAP email accounts</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mail Forwarding addresses</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>User Aliases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Email Responders</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Sub Domains</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>MySQL/Mariadb Databases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft SQL 2008 / 20012 /2016</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft Active Server Pages/ PHP</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Web Based Email</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Addons support</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 px-0">
              <table class="table table-striped uk-table-small mb-md-3 mb-0">
                <tbody>
                  <tr>
                    <td>Hệ điều hành</td>
                    <td class="uk-text-bold text-md-center text-right">Linux/Window</td>
                  </tr>
                  <tr>
                    <td>Dung lượng</td>
                    <td class="uk-text-bold text-md-center text-right">Theo Gói</td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>DNS riêng</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Anonymous DNS</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Control Panel</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>POP3/IMAP email accounts</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mail Forwarding addresses</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>User Aliases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Email Responders</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Sub Domains</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>MySQL/Mariadb Databases</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft SQL 2008 / 20012 /2016</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Microsoft Active Server Pages/ PHP</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Web Based Email</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Addons support</td>
                    <td class="uk-text-bold text-md-center text-right">
                      <i uk-icon="icon: check; ration: 1.2"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="uk-container py-md-5 py-3">
        <div class="row">
          <div class="col-md-6 uk-background-contain d-md-block d-none" style="background-size: 100% 100%;" data-src="./public/images/server.jpg" uk-img></div>
          <div class="col-md-6">
            <h2 class="gh-home-title gh-border-left uk-h4 mt-0 pb-md-4 pb-3 text-blue-main text-uppercase">
              Dịch Vụ <strong>Gia tăng</strong>
            </h2>
            <p class="text-blue-main">
              Nhanh nhất, dễ sử dụng nhất, an toàn và bảo mật cao nhất!
            </p>
            <p class="uk-text-meta">Lưu trữ trang web của bạn trên nền tảng công nghệ điện toán đám mây với hiệu suất cao nhất, tại Data Center tốt nhất và an toàn nhất.</p>
            <ul class="nolist uk-text-bold">
              <li>Đảm bảo Uptime 99,99%</li>
              <li>Hỗ trợ kỹ thuật miễn phí 24/7</li>
              <li>Kích hoạt ngay sau khi đăng ký.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('./layout/footer') %>
