<%- include('./layout/header') %>
    <main>
        <section class="uk-position-relative py-md-5 py-3 gh-banner" data-src="./public/images/contact.png" uk-img>
            <div class="uk-container">
                <div class="row">
                    <div class="col-md-4 gh-banner-content shadow">
                        <h2 class="uk-h3 text-uppercase text-blue-main my-0 text-uppercase">
                            <strong>Email Server</strong>
                        </h2>
                        <p>
                            Giải pháp Email Chuyên Nghiệp dành cho doanh nghiệp
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="uk-container px-md-3 px-0 py-md-5 py-3 gh-table">
                <table class="table table-striped uk-table-small">
                    <thead class="bg-blue-main text-uppercase text-white">
                        <tr>
                            <th>
                                Gói dịch vu5
                            </th>
                            <th>
                                <div class="d-block text-center">Email Account</div>
                            </th>
                            <th>
                                <div class="d-block text-center">Dung Lượng</div>
                            </th>
                            <th class="gh-sm-none">
                                <div class="d-block text-center">
                                    <label class="d-block">Webmail</label>
                                    <label class="d-block">POP/IMAP</label>
                                </div>
                            </th>
                            <th class="gh-sm-none">
                                <div class="d-block text-center">
                                    <label class="d-block">Anti Spam</label>
                                    <label class="d-block">Anti Virus, Firewall</label>
                                </div>
                            </th>
                            <th class="gh-sm-none">
                                <div class="d-block text-center">
                                    <label class="d-block">Email Admin</label>
                                    <label class="d-block">Control Panel</label>
                                </div>
                            </th>
                            <th>
                                <div class="d-block text-center">
                                    <label class="d-block mb-0">Giá/Tháng</label>
                                    <label class="d-block mb-0">(VNĐ)</label>
                                </div>
                            </th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 1; i < 5; i++) { %>
                            <tr>
                                <td>
                                    <span>MP1</span>
                                    <img src="./public/images/icon/gift.png" alt="" width="20" height="20">
                                </td>
                                <td>10</td>
                                <td>
                                    2 GB/mail (20GB)
                                </td>
                                <td class="gh-sm-none">
                                    <i uk-icon="icon: check; ratio: 1.2"></i>
                                </td>
                                <td class="gh-sm-none">
                                    <i uk-icon="icon: check; ratio: 1.2"></i>
                                </td>
                                <td class="gh-sm-none">
                                    <i uk-icon="icon: check; ratio: 1.2"></i>
                                </td>
                                <td class="uk-text-bold">750.000</td>
                                <td>
                                    <a href="#" class="uk-button uk-button-small gh-btn-order text-uppercase py-md-1 py-0">đăng ký</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div data-src="./public/images/blue-bg.jpg" uk-img style="background-size: 100% 100%">
                <div class="uk-container py-md-5 py-3">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="./public/images/responsive.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <h2 class="gh-home-title gh-border-left uk-h4 py-md-4 py-3 text-white">
                                Link hoạt trên các
                                <strong>thiết bị</strong>
                            </h2>
                            <ul class="nolist text-white shadow p-2" style="background-color: rgba(0,0,0,0.2)">
                                <li>E-mail server riêng, nhanh, gửi và nhận email số lượng lớn.</li>
                                <li>Server đặt tại các data center lớn nhất.</li>
                                <li>Không hạn chế dung lượng email gửi đi, nhận về.</li>
                                <li>Email eCloud công nghệ đám mây không bị quá tải, an toàn.</li>
                                <li>Quản lý online, đầy đủ tính năng.</li>
                                <li>Toàn quyền quản trị (tạo, thay đổi, khóa, hủy, cấp lại password, tạo mail list, khai báo
                                    dung lượng mail box cho từng account v.v…). Check mail trên điện thoại di động.</li>
                                <li>Hỗ trợ kỹ thuật 24/7.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="uk-container py-md-5 py-3">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="gh-home-title gh-border-left uk-h4 mt-0 pb-md-4 pb-3 text-blue-main">
                            Có đầy đủ mọi
                            <strong>chức năng</strong>
                        </h2>
                        <ul class="nolist">
                            <li>POP3/IMAP/ SMTP.</li>
                            <li>Sử dụng đồng thời cả webmail và trên mọi phần mềm gửi mail.</li>
                            <li>Hệ thống bảo mật cao, chống tấn công.</li>
                            <li>Giao diện web thân thiện, dễ sử dụng.</li>
                            <li>Tự động trả lời thư khi đi vắng.</li>
                            <li>Dễ dàng thay đổi mật khẩu.</li>
                            <li>Email Forwarder.</li>
                            <li>Kiểm soát email gửi vào/ gửi ra.</li>
                            <li>Quét virus, lọc thư rác, chống spam.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 uk-background-contain d-md-block d-none text-center" style="background-size: 100% 100%;" data-src="./public/images/Connect.jpg"
                        uk-img>
                        <img src="./public/images/email-marketing.png" alt="">
                    </div>

                </div>
            </div>
        </section>
    </main>
    <%- include('./layout/footer') %>
