:root {
  /* Main Color & Color Class Global*/
  --blue-main: #0d4399;
  --white-main: #e6f7ff;
  --red-main: #dd181f;
  --menu-color: #b7ebfe;
  --no-color: transparent;
  --overlay-color: rgba(0,0,0,0.5);
  --fb-color: #3b5999;
  --google-plus-color: #dd4b39;
  --twitter-color: #55acee;
  --instagram-color: #e4405f;
  --youtube-color: #cd201f;
  /* Font Config */
  --roboto: 'Roboto', sans-serif;
  --roboto-condensed: 'Roboto Condensed', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --noto-sans: 'Noto Sans', sans-serif;
  /* Header Top Config */
  --head-top-size: 10pt;
  /* Navbar Config */
  --logo-head: 90px;
  --navbar-size: 11pt;
  /* Class Set Global */ }
  :root .text-blue-main {
    color: var(--blue-main); }
    :root .text-blue-mainspan {
      color: var(--blue-main); }
  :root .text-white-main {
    color: var(--white-main); }
    :root .text-white-mainspan {
      color: var(--white-main); }
  :root .text-red-main {
    oolor: var(--red-main); }
    :root .text-red-mainspan {
      oolor: var(--red-main); }
  :root .no-bg {
    background-color: var(--no-color); }
  :root .no-color {
    background-color: var(--no-color); }
  :root .bg-blue-main {
    background-color: var(--blue-main); }
  :root .bg-white-main {
    background-color: var(--white-main); }
  :root .bg-red-main {
    background-color: var(--red-main); }
  :root .bg-menu-color {
    background-color: var(--menu-color); }
  :root .border-blue-main {
    border-color: var(--blue-main) !important; }
  :root .border-red-main {
    border-color: var(--red-main) !important; }
  :root .border-white-main {
    border-color: var(--white-main) !important; }

/* Global CSS Config */
body {
  font-family: var(--noto-sans); }

.uk-offcanvas-overlay::before {
  background-color: var(--overlay-color); }

:active,
:focus,
:hover {
  -webkit-transition: all 0.5 linear;
  -o-transition: all 0.5 linear;
  transition: all 0.5 linear;
  text-decoration: none !important; }

#header, #footer, main {
  position: relative; }

#header {
  z-index: 3; }

main {
  z-index: 1; }

.gh-btn-order {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b98d2), to(#368dc3));
  background-image: -o-linear-gradient(top, #3b98d2, #368dc3);
  background-image: linear-gradient(to bottom, #3b98d2, #368dc3);
  color: #fff;
  min-width: 60px; }
  .gh-btn-order:hover {
    color: var(--white-main);
    background-image: unset;
    background-color: var(--blue-main); }

#footer {
  z-index: 2; }

.nolist {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.gh-home-title {
  position: relative;
  text-transform: uppercase; }
  .gh-home-title::after, .gh-home-title::before {
    content: '';
    position: absolute;
    bottom: 0; }
  .gh-home-title.gh-border-center {
    text-align: center; }
    .gh-home-title.gh-border-center::after, .gh-home-title.gh-border-center::before {
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .gh-home-title.gh-border-left::after, .gh-home-title.gh-border-left::before {
    left: 0; }
  .gh-home-title.gh-border-right {
    text-align: right; }
    .gh-home-title.gh-border-right::after, .gh-home-title.gh-border-right::before {
      right: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .gh-home-title::before {
    width: 15%;
    border-bottom: 1px solid #999; }
  .gh-home-title::after {
    width: 50px;
    bottom: -0.5px;
    border-bottom: 4px solid var(--red-main); }

/*Header Class CSS*/
.gh-header {
  position: relative; }
  .gh-header > * {
    font-size: var(--head-top-size); }
  .gh-header a {
    color: #333;
    font-weight: bold; }
    .gh-header a:hover {
      color: var(--red-main); }

.gh-lang-slc {
  position: relative;
  border-radius: 5px; }
  .gh-lang-slc::before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 5px solid var(--blue-main);
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .gh-lang-slc li {
    overflow: hidden; }
    .gh-lang-slc li > a {
      display: block;
      padding: 10px;
      color: var(--white-main);
      background-color: translate; }
      .gh-lang-slc li > a:hover {
        color: #fff; }
      .gh-lang-slc li > a:hover {
        background-color: #3778cd; }
    .gh-lang-slc li:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .gh-lang-slc li:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .gh-lang-slc li:not(:last-child) {
      border-bottom: 1px solid #3778cd; }

.gh-menu-right {
  position: relative;
  z-index: 0; }
  .gh-menu-right li a {
    display: block;
    padding: 10px 5px;
    color: var(--white-main); }
    .gh-menu-right li a:hover {
      color: #fff; }

.gh-header-logo img {
  max-width: var(--logo-head); }

.gh-navbar li a {
  display: block;
  font-size: var(--navbar-size); }

.gh-dropdown {
  text-align: left; }
  .gh-dropdown li a {
    font-size: 12pt; }
    .gh-dropdown li a .fa {
      margin-right: 5px; }

.uk-dropdown {
  text-transform: capitalize;
  margin-top: 0; }

.gh-dropdown-expand {
  left: 0 !important;
  right: 0 !important;
  width: 100%; }

.gh-toggle-menu li:not(:last-child) {
  border-right: 1px solid #0c4d77; }

.gh-toggle-menu li a {
  display: block;
  padding: 8px;
  color: #fff;
  font-size: 9pt; }
  .gh-toggle-menu li a:hover {
    color: var(--white-main); }

/*Slider Class*/
.gh-bg-slider {
  width: 100%;
  height: 100%; }

.uk-hidden-hover[uk-slideshow-item] {
  background-color: rgba(13, 67, 153, 0.5); }

.uk-dotnav > li > a {
  background-color: rgba(51, 51, 51, 0.5) !important; }

.uk-dotnav > li.uk-active > a {
  background-color: #0d4399 !important; }

/* Form Search Class*/

.gh-domain-search li > span {
  font-size: 14pt; }
  .gh-domain-search li > span:first-child {
    margin-right: 5px;
    color: var(--white-main); }
  .gh-domain-search li > span:last-child {
    color: var(--red-main); }

.gh-main-list li a {
  padding: 8px 0;
  display: block;
  word-wrap: break-word;
  color: var(--secondary); }
  .gh-main-list li a:hover {
    color: var(--blue-main); }

.gh-slider-bottom li {
  display: block;
  text-align: center; }
  .gh-slider-bottom li img {
    max-width: 100%; }

/* Footer Class */
.gh-footer-list li {
  font-size: 11pt; }
  .gh-footer-list li a {
    display: inline-block;
    padding: 3px 0;
    color: #777; }
    .gh-footer-list li a:hover {
      color: #333; }

.gh-social-link {
  width: 100%; }
  .gh-social-link li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .gh-social-link li a.facebook {
      color: var(--blue-main); }
      .gh-social-link li a.facebook:hover {
        color: var(--fb-color); }
    .gh-social-link li a.google-plus {
      color: var(--blue-main); }
      .gh-social-link li a.google-plus:hover {
        color: var(--google-plus-color); }
    .gh-social-link li a.youtube {
      color: var(--blue-main); }
      .gh-social-link li a.youtube:hover {
        color: var(--youtube-color); }
    .gh-social-link li a.twitter {
      color: var(--blue-main); }
      .gh-social-link li a.twitter:hover {
        color: var(--twitter-color); }
    .gh-social-link li a.instagram {
      color: var(--blue-main); }
      .gh-social-link li a.instagram:hover {
        color: var(--instagram-color); }

.gh-copyright a {
  color: #fff; }
  .gh-copyright a:hover {
    color: #333; }

.gh-footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999; }
  .gh-footer-fixed li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 7px 0;
    text-align: center; }
    .gh-footer-fixed li:not(:last-child) a {
      border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .gh-footer-fixed a {
    display: block;
    font-size: 11pt;
    color: var(--white-main); }
    .gh-footer-fixed a:hover {
      color: #333; }

.gh-totop {
  bottom: 1px;
  right: 5%;
  background-color: var(--red-main);
  color: var(--white-main);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px !important;
  top: unset !important;
  z-index: -1;
  position: fixed; }
  .gh-totop:hover {
    background-color: var(--white-main); }
  .gh-totop:hover {
    color: var(--red-main); }
  .gh-totop.gh-active {
    display: inline-block;
    visibility: visible;
    display: inline-block;
    z-index: 99999; }
  .gh-totop.gh-unactive {
    visibility: hidden; }

.gh-banner {
  background-size: 100% 100%; }

.gh-banner-content {
  padding: 15px; }

.gh-widget-support {
  border-top-right-radius: 10px;
  padding: 15px 0 15px 15px; }
  .gh-widget-support li {
    margin-top: 2px; }
    .gh-widget-support li .uk-offcanvas-close {
      position: static; }
    .gh-widget-support li a {
      display: block;
      border-top-left-radius: 10px;
      padding: 5px 10px;
      color: var(--white-main);
      text-transform: uppercase;
      font-size: 10.5pt; }
    .gh-widget-support li:hover a, .gh-widget-support li.uk-active a {
      background-color: var(--white-main);
      font-weight: bold;
      color: var(--blue-main); }
  .gh-widget-support.uk-offcanvas-bar {
    z-index: 10; }
  .gh-widget-support a > svg {
    display: none; }

.gh-support-content .uk-accordion-title {
  font-size: 11pt;
  font-weight: bold; }

.gh-support-content .uk-open > .uk-accordion-title {
  font-size: 12pt; }

.gh-support-content .uk-accordion-content {
  background-color: var(--white-main);
  padding: 10px 0; }

.gh-support-content > ul > li {
  margin: 0; }
  .gh-support-content > ul > li > .uk-accordion-title {
    display: block;
    padding: 5px;
    color: var(--secondary); }
  .gh-support-content > ul > li:hover > .uk-accordion-title, .gh-support-content > ul > li.uk-open > .uk-accordion-title {
    -webkit-box-shadow: 10px 10px 10px #ddd;
            box-shadow: 10px 10px 10px #ddd;
    color: var(--blue-main);
    position: relative; }
  .gh-support-content > ul > li.uk-open > .uk-accordion-title {
    padding: 15px 5px; }
    .gh-support-content > ul > li.uk-open > .uk-accordion-title::before {
      content: '';
      position: absolute;
      left: 5%;
      bottom: -10px;
      border-top: 10px solid #fff;
      border-left: 10px solid var(--no-color);
      border-right: 10px solid var(--no-color);
      border-bottom: 0 solid var(--no-color); }

.gh-support-content article {
  padding: 15px;
  border-left: 2px solid #999;
  color: #888; }

.gh-support-toggle {
  background-color: var(--blue-main);
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999; }
  .gh-support-toggle:hover {
    background-color: var(--red-main); }
  .gh-support-toggle:hover {
    color: #fff; }
  .gh-support-toggle .gh-toggle-content {
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px; }
    .gh-support-toggle .gh-toggle-content .fa-angle-right {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-40%);
          -ms-transform: translateY(-40%);
              transform: translateY(-40%);
      -webkit-animation: arrow 1s linear infinite;
              animation: arrow 1s linear infinite; }
      .gh-support-toggle .gh-toggle-content .fa-angle-right:last-child {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }

@-webkit-keyframes arrow {
  0% {
    left: 0;
    opacity: 0; }
  100% {
    left: 50%;
    opacity: 1; } }

@keyframes arrow {
  0% {
    left: 0;
    opacity: 0; }
  100% {
    left: 50%;
    opacity: 1; } }

/* Table Class */
.gh-table th, .gh-table td {
  vertical-align: middle !important; }
  .gh-table th:not(:last-child), .gh-table td:not(:last-child) {
    border-right: 1px solid #fff; }

.gh-table th {
  color: #fff; }

.gh-table td {
  border: 0; }
  .gh-table td:not(:first-child) {
    text-align: center; }

.gh-table tbody tr:nth-of-type(2n+1) {
  background-color: rgba(208, 248, 255, 0.5); }

.gh-table tbody.gh-table-price tr:last-child td:not(:first-child) {
  color: var(--red-main);
  font-weight: bold; }

@media screen and (min-width: 769px) {
    .gh-home-title.gh-border-vertical {
      border-right: 1px solid #999; }
      .gh-home-title.gh-border-vertical::after {
        content: unset; }
      .gh-home-title.gh-border-vertical::before {
        border-bottom: 0;
        border-right: 3px solid var(--red-main);
        right: -2px;
        top: 0;
        width: unset;
        height: 30%; }
  .nodesk .uk-offcanvas {
    position: static !important;
    display: block; }
  .nodesk .uk-offcanvas-bar {
    position: static;
    width: 100%;
    background-color: transparent;
    padding: 0;
    transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    -webkit-transform: unset; }
    .gh-header {
      z-index: 9999; }
    .gh-header::after, .gh-header::before {
      content: '';
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0; }
    .gh-header::after {
      width: 26vw;
      background-color: var(--blue-main);
      right: 0; }
    .gh-header::before {
      width: 74vw;
      left: 0;
      background-color: var(--menu-color); }
    .gh-navbar li a {
      padding: 25px 15px;
      color: var(--blue-main); }
      .gh-navbar li a.active, .gh-navbar li a.uk-open, .gh-navbar li a:hover {
        color: var(--red-main);
        border-bottom: 2px solid var(--red-main); }
      .gh-dropdown li a {
        padding: 5px 0;
        color: var(--white-main); }
        .gh-dropdown li a:hover {
          color: var(--blue); }
        .gh-dropdown li a:hover {
          border: 0; }
  #js-gh-navbar,
  .gh-dropdown,
  .gh-navbar {
    position: static; }
    .gh-banner-content {
      background-color: rgba(255, 255, 255, 0.3); }
    .gh-table th, .gh-table td {
      font-size: 11pt; }
    .gh-table td {
      padding: 10px 12px; } }

@media screen and (max-width: 768px) {
  .gh-sm-none {
    display: none; }
    .gh-btn-order {
      font-size: 8pt;
      padding: 5px; }
    .gh-navbar li a {
      padding: 10px 15px;
      border-bottom: 1px solid #333; }
    .uk-dropdown strong {
      background: #126da6;
      display: block;
      padding: 15px; }
    .uk-dropdown.uk-open {
      position: static; }
      .uk-dropdown.uk-open.uk-animation-enter {
        position: absolute;
        width: 100%; }
    .uk-dropdown li a {
      border-bottom: 1px solid #005a93; }
    .gh-bg-slider {
      height: auto; }
  .uk-slideshow-items {
    min-height: 90px !important;
    height: unset !important; }
  .gh-domain-search input::-webkit-input-placeholder {
    font-size: 12pt; }
  .gh-domain-search input:-ms-input-placeholder {
    font-size: 12pt; }
  .gh-domain-search input::-ms-input-placeholder {
    font-size: 12pt; }
  .gh-domain-search input::placeholder {
    font-size: 12pt; }
    .gh-domain-search li > span {
      font-size: 9pt; }
    .gh-banner-content {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7); }
    .gh-table th, .gh-table td {
      font-size: 9pt; }
  .gh-table th {
    font-size: 7pt;
    padding: 5px !important; }
    .gh-table td {
      padding: 5px; } }
