@import './inc/_mixin.scss';

:root {
  /* Main Color & Color Class Global*/
  --blue-main: #0d4399;
  --white-main: #e6f7ff;
  --red-main: #dd181f;
  --menu-color: #b7ebfe;
  --no-color: transparent;
  --overlay-color: rgba(0,0,0,0.5);
  --fb-color: #3b5999;
  --google-plus-color: #dd4b39;
  --twitter-color: #55acee;
  --instagram-color: #e4405f;
  --youtube-color: #cd201f;
  /* Font Config */
  --roboto: 'Roboto', sans-serif;
  --roboto-condensed: 'Roboto Condensed', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --noto-sans: 'Noto Sans', sans-serif;
  /* Header Top Config */
  --head-top-size: 10pt;
  /* Navbar Config */
  --logo-head: 90px;
  --navbar-size: 11pt;
  /* Class Set Global */
  .text-blue-main {
    color: var(--blue-main);
    &span{
        color: var(--blue-main);
    }
  }

  .text-white-main {
    color: var(--white-main);
    &span{
      color: var(--white-main);
    }
  }
  .text-red-main {
    color: var(--red-main);
    &span{
      color: var(--red-main);
    }
  }

  .no-bg {
    background-color: var(--no-color);
  }

  .no-color {
    background-color: var(--no-color);
  }

  .bg-blue-main {
    background-color: var(--blue-main);
  }

  .bg-white-main {
    background-color: var(--white-main);
  }

  .bg-red-main {
    background-color: var(--red-main);
  }

  .bg-menu-color {
    background-color: var(--menu-color);
  }
  .border-blue-main{
    border-color: var(--blue-main)!important;
  }
  .border-red-main{
    border-color: var(--red-main)!important;
  }
  .border-white-main{
    border-color: var(--white-main)!important;
  }
}
/* Global CSS Config */
body {
  font-family: var(--noto-sans);
}

.uk-offcanvas-overlay::before {
  background-color: var(--overlay-color);
}
:active,
:focus,
:hover {
  transition: all 0.5 linear;
  text-decoration: none!important;
}
#header, #footer, main{
  position: relative;
}
#header{
  z-index: 3;
}
main{
  z-index: 1;
}
.gh-sm-none{
  @include sm{
    display: none;
  }
}
.gh-btn-order{
  background-image: linear-gradient(to bottom, #3b98d2, #368dc3);
  color: #fff;
  min-width: 60px;
  &:hover{
    color: var(--white-main);
    background-image: unset;
    background-color: var(--blue-main);
  }
  @include sm{
    font-size: 8pt;
    padding: 5px;
  }
}
#footer{
  z-index: 2;
}
.nolist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.gh-home-title {
  position: relative;
  text-transform: uppercase;
  &.gh-border-vertical{
    @include md{
      border-right: 1px solid #999;
      &::after{
        content: unset;
      }
      &::before{
        border-bottom: 0;
        border-right: 3px solid var(--red-main);
        right: -2px;
        top: 0;
        width: unset;
        height: 30%;
      }
    }
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
  }

  &.gh-border-center {
    text-align: center;

    &::after,
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.gh-border-left {
    &::after,
    &::before {
      left: 0;
    }
  }

  &.gh-border-right {
    text-align: right;

    &::after,
    &::before {
      right: 0;
      transform: translateX(-50%);
    }
  }

  &::before {
    width: 25%;
    border-bottom: 1px solid #999;
  }

  &::after {
    width: 50px;
    bottom: -1px;
    border-bottom: 4px solid var(--red-main);
  }
}
@include md {
  .nodesk {
    .uk-offcanvas {
      position: static!important;
      display: block;
    }

    .uk-offcanvas-bar {
      position: static;
      width: 100%;
      background-color: $nocolor;
      padding: 0;
      @include transform(unset);
    }
  }
}
/*Header Class CSS*/
.gh-header {
  // background-color: var(--menu-color);
  position: relative;
  @include md {
    z-index: 9999;
  }

  > * {
    font-size: var(--head-top-size);
  }

  a {
    @include txt-color(#333, var(--red-main));
    font-weight: bold;
  }
  @include md {
    &::after,
    &::before {
      content: '';
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
    }

    &::after {
      width: 26vw;
      background-color: var(--blue-main);
      right: 0;
    }

    &::before {
      width: 74vw;
      left: 0;
      background-color: var(--menu-color);
    }
  }
}

.gh-lang-slc {
  position: relative;
  border-radius: 5px;

  &::before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 5px solid var(--blue-main);
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  li {
    overflow: hidden;

    > a {
      display: block;
      padding: 10px;
      @include txt-color(var(--white-main), #fff);
      @include bg-color(translate, #3778cd);
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #3778cd;
    }
  }
}

.gh-menu-right {
  position: relative;
  z-index: 0;

  li {
    a {
      display: block;
      padding: 10px 5px;
      @include txt-color(var(--white-main), #fff);
    }
  }
}
.gh-menu-bottom{
  &.uk-sticky-fixed{
    background: #fff;
  }
}
.gh-header-logo {
  img {
    max-width: var(--logo-head);
  }
}

.gh-navbar {
  li a {
    display: block;
    font-size: var(--navbar-size);
    @include md {
      padding: 25px 15px;
      color: var(--blue-main);

      &.active,
      &.uk-open,
      &:hover {
        color: var(--red-main);
        border-bottom: 2px solid var(--red-main);
      }
    }
    @include sm {
      padding: 10px 15px;
      border-bottom: 1px solid #333;
    }
  }
}

.gh-dropdown {
  text-align: left;

  li a {
    font-size: 12pt;

    .fa {
      margin-right: 5px;
    }
    @include md {
      padding: 5px 0;
      @include txt-color(var(--white-main), var(--blue));

      &:hover {
        border: 0;
      }
    }
  }
}

.uk-dropdown {
  text-transform: capitalize;
  margin-top: 0;
  @include sm {
    strong {
      background: #126da6;
      display: block;
      padding: 15px;
    }

    &.uk-open {
      position: static;

      &.uk-animation-enter {
        position: absolute;
        width: 100%;
      }
    }

    li a {
      border-bottom: 1px solid #005a93;
    }
  }
}

#js-gh-navbar,
.gh-dropdown,
.gh-navbar {
  @include md {
    position: static;
  }
}

.gh-dropdown-expand {
  left: 0!important;
  right: 0!important;
  width: 100%;
}

.gh-toggle-menu {
  &.uk-sticky-fixed{
    background-color: var(--blue-main);
  }
  li:not(:last-child) {
    border-right: 1px solid #0c4d77;
  }

  li a {
    display: block;
    padding: 8px;
    @include txt-color(#fff, var(--white-main));
    font-size: 9pt;
  }
}
/*Slider Class*/

.gh-bg-slider {
  width: 100%;
  height: 100%;
  @include sm {
    height: auto;
  }
}

.uk-slideshow-items {
  @include sm {
    min-height: 90px!important;
    height: unset!important;
  }
}

.uk-hidden-hover[uk-slideshow-item] {
  background-color: rgba(#0d4399, 0.5);
}

.uk-dotnav > li > a {
  background-color: rgba(#333, 0.5)!important;
}

.uk-dotnav > li.uk-active > a {
  background-color: #0d4399!important;
}
/* Form Search Class*/

.gh-domain-search {
  @include sm {
    input::placeholder {
      font-size: 12pt;
    }
  }

  li > span {
    font-size: 14pt;

    &:first-child {
      margin-right: 5px;
      color: var(--white-main);
    }

    &:last-child {
      color: var(--red-main);
    }
    @include sm {
      font-size: 9pt;
    }
  }
}
.gh-main-list{
  li a{
    padding: 8px 0;
    display: block;
    word-wrap: break-word;
    @include txt-color(var(--secondary), var(--blue-main));
  }
}
.gh-slider-bottom{
  li{
    display: block;
    text-align: center;
    img{
      max-width: 100%;
    }
  }
}

/* Footer Class */
.gh-footer-list{
  li {
    font-size: 11pt;
    a{
      display: inline-block;
      padding: 3px 0;
      @include txt-color(#777, #333);

    }
  }
}
.gh-social-link{
  width: 100%;
  li{
    flex: 1;
    a{
      &.facebook{
        @include txt-color(var(--blue-main), var(--fb-color));
      }
      &.google-plus{
        @include txt-color(var(--blue-main), var(--google-plus-color));
      }
      &.youtube{
        @include txt-color(var(--blue-main), var(--youtube-color));
      }
      &.twitter{
        @include txt-color(var(--blue-main), var(--twitter-color));
      }
      &.instagram{
        @include txt-color(var(--blue-main), var(--instagram-color));
      }
    }
  }
}
.gh-copyright{
  a{
    @include txt-color(#fff, #333);
  }
}
.gh-footer-fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  li{
    flex: 1;
    padding: 7px 0;
    text-align: center;
    &:not(:last-child){
      a{
        border-right: 1px solid rgba(#fff, 0.4);
      }
    }
  }
  a{
    display: block;
    font-size: 11pt;
    @include txt-color(var(--white-main), #333);
  }
}
.gh-totop{
  bottom: 1px;
  right: 5%;
  @include bg-color(var(--red-main), var(--white-main));
  @include txt-color(var(--white-main), var(--red-main));
  border: 1px solid rgba(255,255,255, .5);
  height: 40px;
  width: 40px!important;
  top: unset!important;
  z-index: -1;
  position: fixed;
  &.gh-active{
    display: inline-block;
    visibility: visible;
    display: inline-block;
    z-index: 99999;
  }
  &.gh-unactive{
    visibility: hidden;
  }
}
.gh-banner{
  background-size: 100% 100%;
}
.gh-banner-content{
  padding: 15px;
  @include md{
    background-color: rgba(#fff, 0.3);
  }
  @include sm{
    text-align: center;
    background-color: rgba(#fff, 0.7);
  }
}
.gh-widget-support{
  border-top-right-radius: 10px;
  padding: 15px 0 15px 15px;
  li{
    margin-top: 2px;
    .uk-offcanvas-close{
      position: static;
    }
    a{
      display: block;
      border-top-left-radius: 10px;
      padding: 5px 10px;
      color: var(--white-main);
      text-transform: uppercase;
      font-size: 10.5pt;
    }
    &:hover, &.uk-active{
      a{
        background-color: var(--white-main);
        font-weight: bold;
        color: var(--blue-main);
      }
    }
  }
  &.uk-offcanvas-bar{
    z-index: 10;
  }
  a > svg{
    display: none;
  }
}
.gh-support-content{
  .uk-accordion-title{
    font-size: 11pt;
    font-weight: bold;
  }
  .uk-open > .uk-accordion-title{
    font-size: 12pt;
  }
  .uk-accordion-content{
    background-color: var(--white-main);
    padding: 10px 0;
  }
  >ul{
    >li{
      margin: 0;
      >.uk-accordion-title{
        display: block;
        padding: 5px;
        color: var(--secondary);
      }
      &:hover, &.uk-open{
        >.uk-accordion-title{
          box-shadow: 10px 10px 10px #ddd;
          color: var(--blue-main);
          position: relative;
        }
      }
      &.uk-open > .uk-accordion-title{
        padding: 15px 5px;
        &::before{
          content: '';
          position: absolute;
          left: 5%;
          bottom: -10px;
          border-top: 10px solid #fff;
          border-left: 10px solid var(--no-color);
          border-right: 10px solid var(--no-color);
          border-bottom: 0 solid var(--no-color);
        }
      }
    }
  }
  article{
    padding:0 15px!important;
    border-left: 2px solid #999;
    color: #888;
    @include sm{
      font-size: 10pt;
    }
  }
}
.gh-support-toggle{
  @include bg-color(var(--blue-main), var(--red-main));
  @include txt-color(#fff, #fff);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  .gh-toggle-content{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    .fa-angle-right{
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      animation: arrow 1s linear infinite;
      &:last-child{
        animation-delay: 0.5s;
      }
    }
  }
}
@keyframes arrow{
  0%{
    left: 0;
    opacity: 0;
  }
  100%{
    left: 50%;
    opacity: 1;
  }
}
/* Table Class */

.gh-table{
  th, td{
    vertical-align: middle!important;
    @include md{
      font-size: 11pt
    }
    @include sm{
      font-size: 9pt
    }
    &:not(:last-child){
      border-right: 1px solid #fff;
    }
  }
  th{
    @include sm{
      font-size: 7pt;
      padding: 5px!important;
    }
  }
  th{
    color: #fff;
  }
  td{
    @include md{
      padding: 10px 12px;
    }
    @include sm{
      padding: 5px;
    }
    border: 0;
    &:not(:first-child){
      text-align: center;
    }
  }
  tbody {
    tr{
      &:nth-of-type(2n+1){
        background-color: rgba(208, 248, 255, 0.5);
      }
    }

    &.gh-table-price tr{
      &:last-child{
        td:not(:first-child){
          color: var(--red-main);
          font-weight: bold;
        }
      }
    }
  }

}
/* Box Class */
.gh-box{
  margin-bottom: 15px;
  .gh-box-header{
    overflow-x: hidden;
    &.gh-border-right{
      border-top-right-radius: 10px;
    }
    &.gh-border-left{
      border-top-left-radius: 10px;
    }
    .gh-box-title, .gh-box-sub{
      margin: 0;
      padding: 15px 8px;
      font-weight: bold;
      background-color: var(--blue-main);
      color: #fff;
      @include sm{
        font-size: 11pt;
        text-align: center;
      }
    }
    .gh-box-sub{
      @include md{
        text-align: right;
      }
      @include sm{
        background-color: var(--white-main);
        color: var(--red-main);
      }
    }
  }
  .gh-box-body{
    .gh-box-title{
      margin: 0;
      color: var(--blue-main);
      font-weight: bold;
      padding-bottom: 10px;
    }
    .gh-box-list{
      .gh-item{
        @include sm{
          >.row{
            padding: 8px 15px;
          }
          &:not(:last-child){
            border-bottom: 1px solid #ddd;
          }
        }
        @include md{
          >.row{
            padding: 15px 5px;
          }
          &:first-child{
            >.row{
              padding-right: 15px;
            }
          }
          &:last-child{
            .row{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}
