<footer>
</footer>
</div>

<script src="./public/js/jquery-3.3.1.min.js"></script>
<script src="./public/js/uikit.min.js"></script>
<script src="./public/js/uikit-icons.min.js"></script>
<script src="./public/js/main.js"></script>
</body>

</html>
