<section class="uk-position-relative py-md-5 py-3 gh-banner" data-src="./public/images/contact.jpg" uk-img>
  <div class="uk-container">
    <div class="row">
      <div class="col-md-4 gh-banner-content shadow">
        <h2 class="uk-h3 text-uppercase text-blue-main my-0">
          Hỗ Trợ <strong>24/7</strong>
        </h2>
        <p class="my-0">
          <span class="uk-text-small">Bạn cần hỗ trợ, vui lòng gọi</span>
          <span class="uk-h3 d-inline-block text-danger uk-text-bold my-0">1900 2069 </span>
        </p>
        <p class="my-1">
          <span class="uk-text-small">hoặc</span>
          <a href="" class="uk-button uk-button-danger">
            Gửi yêu cầu
          </a>
           <span class="uk-text-small">Vào hệ thống</span>
        </p>
      </div>
    </div>
  </div>
</section>
