<section class="bg-blue-main gh-domain-search">
  <div class="uk-container py-5">
    <form class="" action="index.html" method="post">
      <div class="px-3">
        <div class="row">
          <input class="uk-input uk-width-4-5@m uk-form-large" placeholder="Nhập tên miền bạn muốn kiểm tra">
          <button class="uk-width-expand uk-button uk-button-danger uk-button-large">
            <i uk-icon="icon: search" class="mr-2"></i><span>Kiểm Tra</span>
          </button>
        </div>
        <div class="d-block pt-3 text-center">
          <ul class="nolist d-inline-flex">
            <li class="uk-text-bold p-2">
              <span>.modi</span>
              <span>99k</span>
            </li>
            <li class="uk-text-bold p-2">
              <span>.com</span>
              <span>234k</span>
            </li>
            <li class="uk-text-bold p-2">
              <span>.top</span>
              <span>40k</span>
            </li>
            <li class="uk-text-bold p-2">
              <span>.net</span>
              <span>252k</span>
            </li>
            <li class="uk-text-bold p-2">
              <span>.vn</span>
              <span>750k</span>
            </li>
            <li class="uk-text-bold p-2">
              <span>.com.vn</span>
              <span>630k</span>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
