<header class="px-3">
  <div class="row">
    <div class="col-12 order-md-2 order-1 nodesk">
      <div class="uk-container uk-position-relative">
        <div class="row align-items-center">
          <div class="col-md-3">
            <a href="/" class="gh-header-logo py-md-0 py-3 text-md-left text-center d-block">
              <img src="./public/images/logo.png" alt="">
            </a>
          </div>
          <div id="js-gh-navbar" class="col-md-9 text-md-right" uk-offcanvas="mode: push; overlay: true">
            <div class="uk-offcanvas-bar p-0">
              <a href="/" class="py-md-0 py-3 text-md-left text-center d-md-none">
                <img src="./public/images/logo.png" alt="">
              </a>
              <ul class="gh-navbar nolist d-md-inline-flex text-uppercase">
                <li><a class="active" href="#">Tất cả trang</a></li>
                <li><a href="#">Tên Miền</a></li>
                <li><a href="#">Hosting</a></li>
                <li class="gh-dropdown">
                  <a href="#">Email</a>
                  <div uk-dropdown="animation: uk-animation-slide-bottom-small; duration: 500" class="gh-dropdown-expand bg-blue-main py-md-4 p-0">
                    <div class="uk-container">
                      <div class="row align-items-start">
                        <div class="col-md-4 border-right border-white text-white uk-text-small d-md-block d-none">
                          Email server là dịch vụ email chuyên nghiệp với thương hiệu riêng. Chúng tôi sẽ giúp bạn có hệ thống email theo tên miền dung lượng lớn và bảo mật cao.
                        </div>
                        <div class="col-md-3 px-md-3 px-0">
                          <strong class="mb-2 text-uppercase text-white-main d-block">EMAIL</strong>
                          <ul class="nolist">
                            <li>
                              <a href="#">
                                <i class="fa fa-database"></i>
                                <span>Email chuyên nghiệp</span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-lock"></i>
                                <span>Email server riêng</span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-thumbs-up"></i>
                                <span>Google Email</span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>Email marketing</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-3 px-md-3 px-0">
                          <strong class="mb-2 text-uppercase text-white-main d-block">support 24/7</strong>
                          <ul class="nolist">
                            <li>
                              <a href="#">
                                <i class="fa fa-check"></i>
                                <span>Ticket</span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-check"></i>
                                <span>Kiến thức</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-2 d-md-block d-none">
                          <img data-src="./public/images/email-bg.png" alt="" uk-img>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="gh-dropdown">
                  <a href="#">Server</a>
                  <div class="bg-blue-main" uk-dropdown="animation: uk-animation-slide-bottom-small; duration: 500">
                    <ul class="nolist">
                      <li>
                        <a href="#">
                          <i class="fa fa-database"></i>
                          <span>Email chuyên nghiệp</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-lock"></i>
                          <span>Email server riêng</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-thumbs-up"></i>
                          <span>Google Email</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-envelope"></i>
                          <span>Email marketing</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Thiết Kế Web</a></li>
                <li><a href="#">Dịch Vụ Khác</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 order-md-1 order-2 gh-header d-none d-md-block">
      <div class="uk-container">
        <div class="row align-items-center">
          <div class="col-md-9">
            <div class="row align-items-center">
              <div class="col-md-7 text-uppercase">
                <strong class="uk-text-small">
                  Nhà đăng ký chính thức tên miền Việt Nam
                </strong>
                <a id="lang-select" href="#" class="d-md-inline-block bg-red-main text-white py-md-1 px-md-2 ml-md-2 rounded text-uppercase uk-text-bold">EN</a>
                <div class="no-bg" uk-dropdown="animation: uk-animation-slide-bottom-small; duration: 500; toggle: #lang-select; pos: bottom-center">
                  <ul class="nolist gh-lang-slc bg-blue-main shadow">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Vietnamese</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 text-md-right bg-menu-color">
                <ul class="nolist d-inline-flex">
                  <li><a class="d-block px-3 py-2" href="#">Hỗ Trợ</a></li>
                  <li><a class="d-block px-3 py-2" href="#">Liên Hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 bg-blue-main">
            <ul class="nolist d-md-inline-flex gh-menu-right">
              <li><a href="#"><i class="mr-2" uk-icon="icon: cart; ratio: .9"></i><span>Giỏ hàng</span></a></li>
              <li><a href="#"><i class="mr-2" uk-icon="icon: user; ratio: .9"></i><span>Đăng ký/Đăng nhập</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 order-2 d-md-none bg-blue-main gh-toggle-menu px-0">
      <ul class="row text-center nolist">
        <li class="text-center col-3 px-1">
          <a id="mobile-lang-slc" href="#">
            <i class="d-block mb-1" uk-icon="icon: world"></i>
            <span>EN</span>
          </a>
        </li>
        <li class="col-3 px-1">
          <a href="#">
            <i class="d-block mb-1" uk-icon="icon: cart"></i>
            <span>Giỏ Hàng</span>
          </a>
        </li>
        <li class="col-3 px-1">
          <a href="#">
            <i class="d-block mb-1" uk-icon="icon: user"></i>
            <span>Tài khoản</span>
          </a>
        </li>
        <li class="col-3 px-1">
          <a href="#js-gh-navbar" uk-toggle>
            <i class="d-block mb-1" uk-icon="icon: menu"></i>
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <div uk-dropdown="toggle: #mobile-lang-slc;animation: uk-animation-slide-bottom-small; duration: 500" class="w-100 gh-dropdown-expand bg-blue-main mt-0 p-0">
        <ul class="nolist w-100 mt-0">
          <li><a href="#">English</a></li>
          <li><a href="#">Vietnamese</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
