<div  class="uk-position-relative uk-visible-toggle uk-light"
      uk-slideshow="min-height: 120; max-height: 360; autoplay: true; autoplay-interval: 3000">

    <ul class="uk-slideshow-items">
        <li>
            <img class="gh-bg-slider" src="./public/images/banner-2018-vui-he.jpg" alt="" uk-img>
        </li>
        <li>
            <img class="gh-bg-slider" src="./public/images/banner-2018-vui-he.jpg" alt="" uk-img>
        </li>
        <li>
            <img class="gh-bg-slider" src="./public/images/banner-2018-vui-he.jpg" alt="" uk-img>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    <ul class="uk-position-bottom uk-slideshow-nav uk-dotnav uk-flex-center uk-margin d-md-inline-flex d-none"></ul>
</div>
